@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


:root {
    --color00: #023E73;
    --color01: #024059;
    --color02: #BF6415;
    --color03: #D9CCC1;
    --color04: #8C503A;
    --fonte01: 'Sacramento', cursive;
    --size00: 1em;
}

body {
    background: var(--color00);
}

header {   
    background-color: var(--color02);
    padding: 50px;
    min-width: 100vw;
}

header h1 {
    text-align: center;
    font-size: 12vw;
    font-weight: 600px;
    font-family: var(--fonte01);
}

main {
    margin: auto;
    padding: 15px;
    min-width: 20vw;
    max-width: 80vw;
    background-color: var(--color03);
}

main h1 {
    text-align: center;
    padding: 15px;
}

main p {
    text-align: justify;
    font-size: 1.5rem
}